
@font-face {
    font-family: "patua";
    src: url(../fonts/PatuaOne-Regular.ttf);
}


html, body {
    height: 100%;
    font-family: "patua";
    background-color: #01346B; /* body for navbar blank left right */
    color: whitesmoke;
}

#masterDiv{
    height: 100vh;
    max-height: 100vh;
}
#cardImg{
    border: lightgray 2px solid;
}

button.activarButtons{
    width: 80px;
    font-size:0.78rem;
}

div#userData{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(205, 205, 205);
    padding:15px;
    border-radius: 2%;
}
/* HMI watch */
#watch {
    height: 62px;
    background-color: #020F14;
    color: whitesmoke;   
    width: 180px;
    position: absolute;
    top: 8px;
    right: 4px; 
    border-top: 3px ridge #066FCB;
    border-left: 3px ridge #066FCB;
    border-right: 3px ridge #066FCB;
}
/* HMI watch */



  


